# ignore logs
/logs
# igonre checkpoints
/checkpoint
# ignore  vis
/vis
# ignore drawVideo
/drawVideo
# ignore data 
/data
# ignore generate_dataset
/generate_dataset
# ignore video
/video

/code_for_G-GOP_ori